.wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--default-layout-header-height, 60px);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    justify-content: center;
    z-index: 10;
    background-color: var(--white);
}

.custom-btn {
    height: 42px;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--default-layout-witdh, 1150px);
    padding: 0 var(--default-layout-horizon-spacer);

}

.logo {
    display: flex;
    height: 100%;
    align-items: center;

    .logo-name {
        font-size: 26px;
        font-family: var(--font-logo);
        color: #b9e541;
    }
}

.logo img {
    display: flex;
    width: 50px;
}

.actions {
    display: flex;
    font-size: 20px;

    .action-btn {
        position: relative;
        cursor: pointer;
        margin: 0 8px;
        color: rgba(22, 24, 35, 0.8);

        span {
            position: absolute;
            top: 12px;
            right: -8px;
            width: 18px;
            height: 18px;
            font-size: 1rem;
            border: 1px solid;
            line-height: 16px;
            border-radius: 50%;
            background-color: var(--primary);
            color: var(--white);
        }
    }

    img {
        width: 40px;
    }

    .avatar {
        margin-left: 14px;
        margin-right: 8px;
        cursor: pointer;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .action-title {
        padding-top: 4px;
        font-size: 10px;
    }

    &:last-child {
        margin-right: -16px;
    }
}

//Modal

.modal {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;

}

.modal_inner {
    width: 480px;
    position: relative;
    top: 30%;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    overflow: hidden;
    animation: modalShow 0.4s linear;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 50px;
    background: rgba(148, 94, 94, 0.9);

    p {
        font-size: 24px;
        font-weight: 700;
        color: #b9e541;
    }

    i {
        font-size: 24px;
        cursor: pointer;
    }
}

.modal_body {
    padding: 15px;
}



.modal_footer {
    padding: 15px;
    text-align: right;
}



.hide {
    display: none;
}

@keyframes modalShow {
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 30%;
        opacity: 1;
    }
}