.wrapper {
    margin-top: var(--default-layout-horizontal-spacer);
    width: var(--default-layout-witdh);
}

.inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .gallery {
        width: 40%;
        padding-right: var(--default-layout-horizontal-spacer);
        // padding-bottom: var(--default-layout-horizontal-spacer);
        display: flex;
        flex-direction: column;
        align-items: center;

        .avatar {
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            min-width: 400px;
            max-width: 460px;

            img {
                min-height: 300px;
                max-height: 400px;
                padding: 10px;
                border-radius: 20px;
                object-fit: cover;
                width: 100%;
            }
        }

        .action-avatar {
            font-size: 1.8rem;
            padding-top: 12px;

            button {
                font-weight: 400;
                color: var(--primary);
                text-decoration: underline;
            }
        }
    }

    .overview {
        width: 60%;
        padding-left: var(--default-layout-horizontal-spacer);
        display: flex;
        flex-direction: column;

        .title-header {
            font-size: 2.8rem;
            padding-bottom: 16px;
            font-weight: 700;
        }

        .form-wrapper {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;

            .w-half {
                width: 48% !important;
            }

            .w-full {
                width: 100%;
            }

            .error {
                padding-bottom: 10px;
                color: var(--primary);
            }

            .input-info {
                width: 100%;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
                border-radius: 8px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                font-size: 2.4rem;
                margin-bottom: 16px;

                input[type="text"],
                select {
                    width: 100%;
                    height: 40px;
                    padding-left: 16px;
                    background-color: transparent;
                    text-align: left;
                    vertical-align: middle;
                    line-height: 30px;
                }

                select {
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .actions {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
    }
}